body {
    display:flex;
    align-items: center;
    font-family:sans-serif;
    flex-direction:column;
}

#sentence {
    display:flex;
    justify-content: center;
    padding-top:10%;
}

.miscKeys {
    display:flex;
}

.keyboardKey {
    border:4px solid black;
    border-color: black;
    width:25px;
    height:25px;
    padding:25px;
    display:flex;
    background-color: rgb(255,255,255);
    margin: 5px;
}

.keyboardKey p {
    font-size:60px;
    margin-top: -30px;
    margin-left:0px;
}

.align-right {
    display:flex;
    width:1209px;
    flex-direction: column;
}

.miscKeys.right {
    justify-content: flex-end;
}